<h1 class="text-center pt-3">Thanks for your order, {{customer.name}}!</h1>
<br /><br />
<div class="container" style="border: 1px solid Silver; padding: 20px;">


    <h2 class="text-center">Order Receipt</h3>
    <p class="text-center" style="font-size: 14px; color: #E8E8E8;">Order ID:<br> {{session.id}}</p>
    <hr />

    <p class="lead text-center">
    Name:
    {{customer.name}}
    <br />
    Email Address:
    {{customer.email}}
    <br />
    Country:
    {{customer.address.country}}
    <br />
    Zip Code:
    {{customer.address.postal_code}}
    <br />
    Amount Total:
    {{dollars}}
    </p>

    <p class="text-center">
        <b>
    We appreciate your business! If you have any questions, please email
            <a
                href="mailto:orders@example.com"
                style="color: white;"
            >
                orders@example.com
            </a>
        </b>
    </p>
</div>



<p class="text-center pt-5">
  <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</p>